body{--color-text:#fff;--color-bg:#0e0e0f;--color-bg-2:#242635;--color-bg-3:#242635;--color-link:#dc2c5a;--color-link-hover:#ff0060}
.background{
	/**
	background: url('fond.png') fixed center no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("fond.png");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
	background-size: cover;
	height: 100%;
	width: 100%;
	**/
	position:absolute;
	top:0;
	left:0;
	width:100%; 
	height:calc(100% + 800px);
	background:radial-gradient(ellipse at 500% 0,var(--color-bg) 50%,var(--color-bg-2) 80%,var(--color-bg-3) 100%);
	z-index:-2;
	transform:translateY(-800px)}

	