#analytics-dashboard {
	 display: block;
	 margin: auto;
}
 .small-piece {
	 transform: translate(-95px);
	 opacity: 0;
	 animation: intoplace2 1s ease forwards;
}
 @keyframes intoplace2 {
	 0% {
		 transform: translate(-95px);
		 opacity: 0;
	}
	 50% {
		 opacity: 0;
	}
	 100% {
		 transform: translate(0px);
		 opacity: 1;
	}
}
 .large-piece {
	 transform: translate(-40px);
	 opacity: 0;
	 animation: intoplace1 1s ease forwards;
}
 @keyframes intoplace1 {
	 0% {
		 transform: translate(-60px);
		 opacity: 0;
	}
	 100% {
		 opacity: 0;
	}
	 100% {
		 transform: translate(0px);
		 opacity: 1;
	}
}
 .restart {
	 display: block;
	 margin: auto;
}
 