<!-- Footer -->
<footer class="odd">
	<!-- Footer [links] -->
	<section id="footer" class="footer">
		<div class="container">
			<div class="row items footer-widget">
				<div class="col-12 col-lg-3 p-0">
					<div class="row">
						<div class="branding col-12 p-3 text-center text-lg-left item">
							<div class="brand">
								<a href="/" class="logo">DarkMoon</a>
							</div>
							<p>Authentique et innovant.<br>Développement sur mesure<br>et Pentest réseau innovant<br>et App Cygwin performante.</p>
							<ul class="navbar-nav social share-list mt-0 ml-auto">
								<li class="nav-item">
									<a rel="nofollow" href="https://www.youtube.com/watch?v=VRDfUidfG5E" class="nav-link"><i class="icon-social-youtube"></i></a>
								</li>
								<li class="nav-item">
									<a rel="nofollow" href="https://www.facebook.com/dark.moon.gnu/" class="nav-link"><i class="icon-social-facebook"></i></a>
								</li>
								<li class="nav-item">
									<a rel="nofollow" href="https://www.linkedin.com/in/mehdi-ferkatou" class="nav-link"><i class="icon-social-linkedin"></i></a>
								</li>
								<li class="nav-item">
									<a rel="nofollow" href="https://twitter.com/DarkMoonGNU" class="nav-link"><i class="icon-social-twitter"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-9 p-0">
					<div class="row">
						<div class="col-12 col-lg-4 p-3 text-center text-lg-left item">
							<h4 class="title">Contact</h4>
							<ul class="navbar-nav">
								<li class="nav-item">
									<a href="tel:+33766289011" class="nav-link">
										<i class="icon-phone mr-2"></i>+33 7 66 28 90 11
									</a>
								</li>
								<li class="nav-item">
									<a href="mailto:contact@dark-moon.org" class="nav-link">
										<i class="icon-envelope mr-2"></i>contact@dark-moon.org
									</a>
								</li>
									<li class="nav-item">
										<a href="https://www.google.com/maps/place/52+Boulevard+Gabriel+Koenigs,+31300+Toulouse/@43.5952018,1.4174821,17z/data=!3m1!4b1!4m5!3m4!1s0x12aebb0c07402a31:0xf5f2871f35df2f2e!8m2!3d43.5952018!4d1.4196708" target="_blank" class="nav-link">
											<i class="icon-location-pin mr-2"></i>52 bd Koenigs, 31300
										</a>
								</li>
								<li class="nav-item">
									<a href="contact.html" class="mt-4 mr-auto ml-auto ml-lg-0 btn dark-button">
										<i class="icon-speech"></i>DEVIS GRATUIT
									</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-4 p-3 text-center text-lg-left item">
							<h4 class="title">Nos Services</h4>
							<ul class="navbar-nav">
								<li class="nav-item">
									<a href="Conception-et-développement-web-toulouse.php" class="nav-link">Développement Web App</a>
								</li>
								<li class="nav-item">
									<a href="Développement-d'applications-mobiles-toulouse.php" class="nav-link">Développement Mobile App</a>
								</li>
								<li class="nav-item">
									<a href="Développement-et-intégration-d'API-toulouse.php" class="nav-link">Développement d'API</a>
								</li>
								<li class="nav-item">
									<a href="Test-d'intrusion-réseau-toulouse.php" class="nav-link">Test d'Intrusion Réseau</a>
								</li>
								<li class="nav-item">
									<a href="Dark-Moon-Cygwin-Windows-Portable.php" class="nav-link">Dark Moon Cygwin Logiciel</a>
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-4 p-3 text-center text-lg-left item">
							<h4 class="title">Tendances</h4>
							<a href="Développement-d'applications-mobiles-toulouse.php" class="badge tag">Mobile</a>
							<a href="Conception-et-développement-web-toulouse.php" class="badge tag">Web App</a>
							<a href="Modernisation-et-refonte-d'applications-toulouse.php" class="badge tag">Developpement</a>
							<a href="Dark-Moon-Cygwin-Windows-Portable.php" class="badge tag">Dark Moon Cygwin</a>
							<a href="Développement-et-intégration-d'API-toulouse.php" class="badge tag">API</a>
							<a href="Test-d'intrusion-réseau-toulouse.php" class="badge tag">Cybersécurité</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Copyright -->
	<section id="copyright" class="p-3 copyright">
		<div class="container container-footer">
			<div class="row">
				<div class="col-12 col-md-6 p-3 text-center text-lg-left">
					<p>Développement d'application & Services réseaux.</p>
					<!-- Suggestion: Replace the text above with a description of your website. -->
				</div>
				<div class="col-12 col-md-6 p-3 text-center text-lg-right">
					<p>© 2020 Dark Moon a été développé par <a href="https://www.linkedin.com/in/mehdi-ferkatou/" target="_blank">Mehdi FERKATOU</a>.</p>
				</div>
			</div>
		</div>
	</section>
</footer>
