<!-- Header -->
<header id="header">
	<!-- Navbar -->
	<nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
		<div class="container header">
			<!-- Navbar Brand-->
			<a class="navbar-brand" href="index.php">
				Dark Moon<i class="leverage-2-0">2.0</i>
				<!--
					Custom Logo
					<img src="assets/images/logo.svg" alt="Leverage">
				-->
			</a>

			<!-- Nav holder -->
			<div class="ml-auto">
			</div>

			<!-- Navbar Items -->
			<ul class="navbar-nav items">
				<li class="nav-item dropdown">
					<a href="#" class="nav-link ">Prestations <i class="icon-arrow-down"></i></a>
					<ul class="dropdown-menu">
						<li class="nav-item dropdown">
							<a class="nav-link" href="#">Création Web <i class="icon-arrow-right"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a href="Conception-et-développement-web-toulouse.php" class="nav-link">Conception et développement web</a></li>
								<li class="nav-item"><a href="Développement-de-sites-web-d'e-commerce-toulouse.php" class="nav-link">Création de boutique en ligne</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#">Création d'application <i class="icon-arrow-right"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a href="Développement-d'applications-mobiles-toulouse.php" class="nav-link">Développement d'application mobile</a></li>
								<li class="nav-item"><a href="Modernisation-et-refonte-d'applications-toulouse.php" class="nav-link">Modernisation et refonte d'application</a></li>
								<li class="nav-item"><a href="Business-Intelligence-toulouse.php" class="nav-link">Outil de Business Intelligence</a></li>
								<li class="nav-item"><a href="Développement-et-intégration-d'API-toulouse.php" class="nav-link">Développement et intégration d'API</a></li>
								<li class="nav-item"><a href="Développement-d'application-web-toulouse.php" class="nav-link">Développement d'application Web</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#">Réseaux & Cybersécurité <i class="icon-arrow-right"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a href="Test-d'intrusion-réseau-toulouse.php" class="nav-link">Test d'intrusion réseau</a></li>
								<li class="nav-item"><a href="Audit-de-code-toulouse.php" class="nav-link">Audit de code</a></li>
								<li class="nav-item"><a href="Audit-d’application-mobile-toulouse.php" class="nav-link">Audit d'application mobile</a></li>
								<li class="nav-item"><a href="Pentest-PCI-DSS-toulouse.php" class="nav-link">Pentest PCI-DSS</a></li>
								<li class="nav-item"><a href="Pentest-web-toulouse.php" class="nav-link">Pentest Web & Web App</a></li>
								<li class="nav-item"><a href="Pentest-Wordpress.php" class="nav-link">Pentest WordPress</a></li>
								<li class="nav-item"><a href="Pentest-Drupal-toulouse.php" class="nav-link">Pentest Drupal</a></li>
								<li class="nav-item"><a href="Pentest-Joomla-toulouse.php" class="nav-link">Pentest Joomla</a></li>
								<li class="nav-item"><a href="Pentest-Prestashop-toulouse.php" class="nav-link">Pentest Prestashop</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link">Logiciels <i class="icon-arrow-down"></i></a>
					<ul class="dropdown-menu">
						<li class="nav-item dropdown">
						<li class="nav-item"><a href="Dark-Moon-Cygwin-Windows-Portable.php" class="nav-link">Dark Moon Cygwin</a></li>
						<li class="nav-item dropdown">
						<li class="nav-item"><a href="Dark-Moon-Cacti-Windows-Linux-Portable.php" class="nav-link">Dark Moon Cacti</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link">Contact <i class="icon-arrow-down"></i></a>
					<ul class="dropdown-menu">
						<li class="nav-item dropdown">
						<li class="nav-item"><a href="contact.html" class="nav-link">Formulaire de contact</a></li>
						<li class="nav-item dropdown">
						<li class="nav-item"><a href="telephone.html" class="nav-link">Rappel immédiat</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#pricing" class="nav-link">Tarifs</a>
				</li>
			</ul>

			<!-- Navbar Icons -->
			<ul class="navbar-nav icons">
				<li class="nav-item social">
					<a href="https://twitter.com/DarkMoonGNU" class="nav-link"><i class="icon-social-twitter"></i></a>
				</li>
				<li class="nav-item social">
					<a href="https://www.facebook.com/dark.moon.gnu/" class="nav-link"><i class="icon-social-facebook"></i></a>
				</li>
			</ul>

			<!-- Navbar Toggle -->
			<ul class="navbar-nav toggle">
				<li class="nav-item">
					<a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
				<i class="icon-menu m-0"></i>
					</a>
				</li>
			</ul>

			<!-- Navbar Action -->
			<ul class="navbar-nav action">
				<li class="nav-item ml-3">
					<a href="tel:+33766289011" class="btn ml-lg-auto primary-button"><i class="icon-phone" aria-hidden="true"></i> +33 7 66 28 90 11 </a>
				</li>
			</ul>
		</div>
	</nav>
</header>
