<!-- ==============================================
Basic Page Needs
=============================================== -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<!-- ==============================================
Favicons
=============================================== -->
<link rel="shortcut icon" href="/assets/images/LUNE.svg">
<!-- ==============================================
Vendor Stylesheet
=============================================== -->
<link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/vendor/slider.min.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/vendor/icons.min.css">
<link rel="stylesheet" href="/assets/css/vendor/animation.min.css">
<link rel="stylesheet" href="/assets/css/vendor/gallery.min.css">
<link rel="stylesheet" href="/assets/css/vendor/cookie-notice.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- ==============================================
Custom Stylesheet
=============================================== -->
<link rel="stylesheet" href="/assets/css/default.css">
<link rel="stylesheet" href="/assets/css/theme-light-blue.css">
<!-- ==============================================
Theme Settings
=============================================== -->
<style>
	:root {
		--header-bg-color: #111117;
		--nav-item-color: #f5f5f5;
		--top-nav-item-color: #f5f5f5;
		--hero-bg-color: #03071e;

		--section-1-bg-color: #f5f5f5;
		--section-2-bg-color: #111117;
		--section-3-bg-color: #03071e;
		--section-4-bg-color: #eeeeee;
		--section-5-bg-color: #f5f5f5;
		--section-6-bg-color: #111117;

		--card-bg-color: #16161c;

		--footer-bg-color: #16161c;
	}
</style>
