<!-- Team -->
<section id="team" class="section-1 carousel featured card-white">
	<div class="overflow-holder">
		<div class="container">
			<div class="row text-center intro">
				<div class="col-12">
					<h2 class="super effect-static-text">Notre équipe</h2>
					<p class="text-max-800">Notre équipe vous aidera à valider votre politique de sécurité et la traduira en un audit d'application mobile complet pour vous aider à renforcer votre stratégie contre les cyberattaques. Veuillez consulter les<a class="ensavoirplus text18" href="#mentionlegale"> mentions légales.</a></p>
				</div>
			</div>
			<div class="swiper-container mid-slider-simple items">
				<div class="swiper-wrapper">
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-1.svg" alt="Adams Baker" class="person">
								<h4>Mehdi FERKATOU </h4>
								<p>Administrateur Systèmes Réseaux / Cybersécurité</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a rel="nofollow" href="https://www.linkedin.com/in/mehdi-ferkatou/" class="nav-link"><i class="icon-social-linkedin"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://www.facebook.com/dark.moon.gnu/" class="nav-link"><i class="icon-social-facebook"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://twitter.com/DarkMoonGNU" class="nav-link"><i class="icon-social-twitter"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://www.youtube.com/watch?v=VRDfUidfG5E" class="nav-link"><i class="icon-social-youtube"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-2.svg" alt="Mary Evans" class="person">
								<h4>Florian CARDINAL</h4>
								<p>Concepteur / Analyste programmeur</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a rel="nofollow" href="https://www.linkedin.com/in/florian-cardinal-13317b150/" class="nav-link"><i class="icon-social-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-3.svg" alt="Sarah Lopez" class="person">
								<h4>Elysee LANDU</h4>
								<p>Conseillère / Gestion en entreprise</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a rel="nofollow" href="https://www.linkedin.com/in/elysee-landu-9556b114a/" class="nav-link"><i class="icon-social-linkedin"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://www.facebook.com/dark.moon.gnu/" class="nav-link"><i class="icon-social-facebook"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://twitter.com/DarkMoonGNU" class="nav-link"><i class="icon-social-twitter"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://www.youtube.com/watch?v=VRDfUidfG5E" class="nav-link"><i class="icon-social-youtube"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-4.svg" alt="Joseph Hills" class="person">
								<h4>Dr Bernard Feurer</h4>
								<p>Dirigeant de PICOMETRICS / Conseiller</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a rel="nofollow" href="https://www.linkedin.com/in/bernard-feurer-0a1b9418/" class="nav-link"><i class="icon-social-linkedin"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://www.facebook.com/dark.moon.gnu/" class="nav-link"><i class="icon-social-facebook"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://twitter.com/DarkMoonGNU" class="nav-link"><i class="icon-social-twitter"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://www.youtube.com/watch?v=VRDfUidfG5E" class="nav-link"><i class="icon-social-youtube"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-5.svg" alt="Joseph Hills" class="person">
								<h4>Julien Angelica</h4>
								<p>Infographiste / Motion Designer 2D & 3D</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a rel="nofollow" href="https://www.linkedin.com/in/julien-angelica/" class="nav-link"><i class="icon-social-linkedin"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://www.facebook.com/dark.moon.gnu/" class="nav-link"><i class="icon-social-facebook"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://twitter.com/DarkMoonGNU" class="nav-link"><i class="icon-social-twitter"></i></a>
									</li>
									<li class="nav-item">
										<a rel="nofollow" href="https://www.youtube.com/watch?v=VRDfUidfG5E" class="nav-link"><i class="icon-social-youtube"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</section>
